{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ product.id }}{{ option_index }}"] { display: none; }
      #product-select-option-{{ product.id }}{{ option_index }} { display: none; }
      #product-select-option-{{ product.id }}{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper.{{ product.handle }}:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}

{% capture option_no_0 %}option{% if option_index == 0 %}1{% else %}2{% endif %}{% endcapture %}
{% capture option_no %}option{% if option_index == 0 %}2{% else %}1{% endif %}{% endcapture %}
{%- assign opt = product.selected_or_first_available_variant[option_no] -%}

<div class="swatch clearfix col-md-60 col-sm-60" data-option-index="{{ option_index }}" data-option-id="{{ product.id }}">
  <div class="label">{{ swatch }}</div>
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      {%- assign var_availability = 'available' -%}
      {% unless variant.available %}{%- assign var_availability = 'soldout' -%}{% endunless %}
      {% if product.options.size == 2 %}
        {% for var in product.variants %}
          {% if var[option_no] == opt and var[option_no_0] == value %}
            <!-- {{ var.title }} -->
            <!-- {{ var.available }} -->
            {% if var.available %}{%- assign var_availability = 'available' -%}{% else %}{%- assign var_availability = 'soldout' -%}{% endif %}
  			{% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <!-- {{ var_availability }} -->
      <div data-value="{{ value | escape }}" class="swatch-element {{ value | handle }} {% if is_color  %}color {% else %}{{ var_availability }} size {% endif %}">
        {% if is_color  %}
          {% if template contains 'collection' or template =='page.shop' %}
            {% else %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
        {% endif %}
        <input id="swatch-{{ product.id }}{{ option_index }}-{{ value | handle }}"  type="radio" name="option-{{ product.id }}{{ option_index }}" value="{{ value | escape }}"{% if option.selected_value == value %} checked{% endif %} />
          
        {% if is_color %}

        <label for="swatch-{{ product.id }}{{ option_index }}-{{ value | handle }}" product-id='{{product.id}}' class="color-swatch" image-src={{ variant.image.src | img_url: '600x600' }}
 style="background-color: {{ value | split: ' ' | last | handle }}; ">
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        
        {% else %}
        <label for="swatch-{{ product.id }}{{ option_index }}-{{ value | handle }}">
          {{ value }}
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</div>

{% endunless %}

{% endif %}

