<div class="left-sidebar">
          {% for block in section.blocks %}
          {% if block.type =='menu' %}
         <h2> {{block.settings.menu_title}}</h2>
          <ul class="parent">
          {% for link in linklists[block.settings.menu_name].links %}
          <li {% if linklists[link.handle].links.size > 0 %} class="accordion" {% endif %}{% if link.active %}class="active {% if link.child_active %}child-active{% endif %}"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% if link.links != blank %}
            <ul class="child panel">
              {% for child_link in link.links %}  
              <li {% if child_link.active %}class="active {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
              </li>
              {% endfor %}
            </ul> 
          {% endif %} 
          {% endfor %}
          </ul>
         {% endif %} 
        {% endfor %}
        </div>
{% schema %}
  {
    "name": "User Pages Sidebar",
    "settings": [
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
         {
            "type": "text",
            "id": "menu_title",
            "label": "Title"
         },
         {
            "type": "link_list",
            "id": "menu_name",
            "label": "Menu"
         }

       ]
      }   
    ]
  }
{% endschema %}
